.container{
	margin-top: 50px;
}

.counts{
	margin-bottom: 10px;
}

.start_section{
	margin-top: 20px;
}

.badge{
	padding: 5px;
	font-size: 14px;
	margin-right: 10px;
}

#player_counter, #comp_counter, #player_counter_modal, #comp_counter_modal{
	font-weight: bold;
}

.counter{
	text-align: center;
}

table, th, td{
	border: 1px solid #ffff;
	border-collapse: collapse;
}

th, td {
	padding: 20px;
}